body {
    margin: 0 auto;
    width: 100%;
    background: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

html, body{
    height: 100%;
}

#background {
    position: absolute;
    width: 95%;
    height: 95%;
    background: white;
    max-width: 400px;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    justify-content: space-evenly;
}


#map {
    width: 90%;
    aspect-ratio: 1;
    background: lightyellow;
    border: 5px solid darkorange;
    display: flex;
    align-content: stretch;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.blocks {
    width: calc(100% / 5 - 2px);
    aspect-ratio: 1;
    border: 1px solid orange;
    margin: 0;
    padding: 0;
    font-size: 2em;
    line-height: 50%;
}

#controlers{
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 5%;
}

#directions {
    width: 50%;
    max-height: 150px;
    display: flex;
    flex-wrap: wrap;
}

#directions > div{
    width: calc(100% / 3 - 2px);
    aspect-ratio: 1;
    
    margin: 0;
    padding: 0;
}

#directions > div > button{
    width:  95%;
    height: 95%;
    font-size: 2em;
    line-height: 50%;
}

#turner {
    display: flex;
    height: 100%;
    aspect-ratio: 1;
    justify-content: space-around;
    align-items: center;
}

#turner > button{
    width:  50%;
    height: 50%;
    font-size: 2em;
    line-height: 50%;
}